<footer class="site-footer">

  <div class="wrapper">

    <h1 class="footer-heading">{{ site.title }}</h1>
    <p>
      {{ site.description }}
      {% include icon-github.html %}
      {% include icon-github-page.html %}
      <span class="icon">{% include icon-x.svg %}</span><a href="https://x.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a>
      {% include icon-rss.html %}
    </p>
      <p>
          <span class="text-small"> このページへの短縮URL → <a href="{{ site.shorten_url }}">{{site.shorten_url}}</a></span>
      </p>
  </div>

</footer>
