<!DOCTYPE html>
<html lang="ja">

  {% include head.html %}

  <body>

    {% include header.html %}

    {% assign back_img_url = '/images/w7-kagayaki.webp' | prepend: site.baseurl %}
    {% if page.cover %}
      {% assign back_img_url = page.cover | prepend: site.baseurl %}
    {% endif %}
    <div class="blog-cover" style="background-image:url({{back_img_url}}); ">
    <h1 class="blog-cover-text">
      #{{site.title}}
    </h1>
    </div>
    {% if page.cover_credit %}
      <span class="blog-cover-credit">Credit: Mother</span>
    {% endif %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
