<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

{% if page.cover %}
  <div class="blog-cover" style="background-image:url({{page.cover | prepend: site.baseurl}}); align-content: center; text-align: center;">
{% else %}
  <div class="blog-cover" style="background-image:url({{'/w7-kagayaki.jpg' | prepend: site.baseurl}}); align-content: center;text-align: center;">
{% endif %}
    <h1 class="custom-font" style="font-family:'Zen Kaku Gothic Antique';font-weight: 700;font-style: normal;font-size: xxx-large;">
      #{{site.title}}
    </h1>
  </div>
  {% if page.cover_credit %}
    <span class="blog-cover-credit">Credit: Mother</span>
  {% endif %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
